ul,
li {
    background-color: yellow;
}

ul,
li:nth-child(even) {
    color: #008000;
}

ul,
li:nth-child(odd) {
    text-transform: uppercase;
}

h1,
h2 {
    color: red;
}

h1 em,
h2 em {
    font-size: 40px;
    border: 1px solid #000000;
}